body {
  /* Decorative footer offset */
  padding-bottom: var(--padding-lg) !important;

  font-family: "GTAlpinaTypeWriter" !important;
}

body * {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  display: flex;
  z-index: 999;
}

#shopify-section-header {
  width: 100%;
}

.header-container {
  position: relative;
  width: 100%;

  display: flex;
  background-color: rebeccapurple;
}

.header__logo-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: var(--padding-lg);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  flex: 1;
  gap: 1rem;

  background-color: var(--color-magenta);
}

@keyframes poleScroll {
  from {
    background-position-x: -100%;
  }
  to {
    background-position-x: 0;
  }
}

.header__pole {
  height: var(--padding);
  width: 100%;

  background: repeating-linear-gradient(
    to right,
    var(--color-red) 0%,
    var(--color-red) 12.499%,
    var(--color-body-light) 12.5%,
    var(--color-body-light) 25%
  );
  background: repeating-linear-gradient(
    to right,
    var(--color-red) 0%,
    var(--color-red) 6.249%,
    var(--color-body-light) 6.25%,
    var(--color-body-light) 12.5%
  );
  background-size: 200% 100%;
  animation: poleScroll 1s ease-in-out;
  animation: poleScroll 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__title {
  font-size: var(--font-size-title);
}

.header__nav-wrapper {
  position: relative;
  /* height: 100%; */
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--color-peach);
}

.header__nav {
  width: 100%;
  max-width: 75%;
  padding: var(--padding-lg);

  display: flex;
  justify-content: flex-end;
}

.header__nav-item {
  width: 100%;
  max-width: 200px;
  height: 100%;
  padding: var(--padding-sm);
  padding-bottom: var(--padding-lg);

  display: flex;
  justify-content: flex-start;
  background-color: var(--color-brown);

  color: var(--color-body-light);
}

.header__nav-item:nth-child(2) {
  background-color: var(--color-red);
}

.header__nav-item:nth-child(3) {
  background-color: var(--color-teal);
}

.header__nav-item:nth-child(4) {
  background-color: var(--color-black);
}

.header__nav-item:nth-child(5) {
  background-color: var(--color-purple);
}

.footer-decorative {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: var(--padding-lg);

  background: linear-gradient(
    var(--color-lime) 0%,
    var(--color-lime) 49.99%,
    var(--color-blue) 50%,
    var(--color-blue) 100%
  );

  pointer-events: none;
  z-index: 999;
}
